In [2]:
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"

In [4]:
df = pd.read_csv(url)

In [6]:
missing_values = df.isna().sum()

In [47]:
print(missing_values)

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [9]:
import pandas as pd

In [10]:
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"

In [11]:
df = pd.read_csv(url)

In [12]:
rows, columns = df.shape

In [13]:
print(f'The dataset has {rows} rows and {columns} columns.')

The dataset has 391 rows and 11 columns.

In [14]:
import pandas as pd

In [15]:
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"

In [16]:
df = pd.read_csv(url)

In [22]:
print("Numeric summary of the dataset:")

Numeric summary of the dataset:

In [23]:
print(df.describe())

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [24]:
print("\nCounts for the 'species' column:")

Counts for the 'species' column:

In [25]:
print(df['species'].value_counts())

species
cat          23
rabbit       20
frog         18
squirrel     18
duck         17
dog          16
cub          16
pig          15
bear         15
mouse        15
horse        15
bird         13
penguin      13
sheep        13
elephant     11
wolf         11
ostrich      10
deer         10
eagle         9
gorilla       9
chicken       9
koala         9
goat          8
hamster       8
kangaroo      8
monkey        8
anteater      7
hippo         7
tiger         7
alligator     7
lion          7
bull          6
rhino         6
cow           4
octopus       3
Name: count, dtype: int64

In [26]:
import pandas as pd

In [27]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"

In [28]:
df = pd.read_csv(url)

In [29]:
print(f"Shape of the dataset (rows, columns): {df.shape}")

Shape of the dataset (rows, columns): (891, 15)

In [30]:
print("\nColumns in the dataset:")

Columns in the dataset:

In [31]:
print(df.columns)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [32]:
print("\nSummary of numeric columns:")

Summary of numeric columns:

In [33]:
print(df.describe())

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [34]:
print("\nMissing values in each numeric column:")

Missing values in each numeric column:

In [35]:
print(df.isna().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [36]:
# for step4, just check for missing values in numeric columns. # It had errors at first and I just change another coding ideas.

In [38]:
import pandas as pd

In [39]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"

In [40]:
df = pd.read_csv(url)

In [41]:
print("Attribute: df.shape")

Attribute: df.shape

In [42]:
print(df.shape)

(891, 15)

In [43]:
print("\nMethod: df.describe()")

Method: df.describe()

In [44]:
print(df.describe())

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [45]:
print("\nMethod: df.head()")

Method: df.head()

In [46]:
print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [48]:
import pandas as pd

In [49]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"

In [50]:
df = pd.read_csv(url)

In [51]:
summary_statistics = df.describe()

In [52]:
print("Summary Statistics:")

Summary Statistics:

In [53]:
print(summary_statistics)

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [54]:
print("\nDefinitions of Summary Statistics:")

Definitions of Summary Statistics:

In [55]:
print("1. Count: Number of non-missing values in the column.")

1. Count: Number of non-missing values in the column.

In [56]:
print("2. Mean: Average value of the column.")

2. Mean: Average value of the column.

In [57]:
print("3. Std: Standard deviation (shows how spread out the values are from the mean).")

3. Std: Standard deviation (shows how spread out the values are from the mean).

In [58]:
print("4. Min: Smallest value in the column.")

4. Min: Smallest value in the column.

In [59]:
print("5. 25%: 25% of the values are below this value (1st quartile).")

5. 25%: 25% of the values are below this value (1st quartile).

In [60]:
print("6. 50%: 50% of the values are below this value (median).")

6. 50%: 50% of the values are below this value (median).

In [61]:
print("6. 50%: 50% of the values are below this value (median).")

6. 50%: 50% of the values are below this value (median).

In [62]:
print("7. 75%: 75% of the values are below this value (3rd quartile).")

7. 75%: 75% of the values are below this value (3rd quartile).

In [63]:
print("8. Max: Largest value in the column.")

8. Max: Largest value in the column.

In [64]:
print("\nChecking for Missing Values:")

Checking for Missing Values:

In [65]:
missing_values = df.isna().sum()

In [66]:
print("Missing values in each column:")

Missing values in each column:

In [67]:
print(missing_values)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [68]:
print("\nHandling Missing Values:")

Handling Missing Values:

In [69]:
df_no_missing_rows = df.dropna()

In [70]:
print(f"Number of rows after removing rows with missing values: {df_no_missing_rows.shape[0]}")

Number of rows after removing rows with missing values: 182

In [71]:
df_no_missing_cols = df.dropna(axis=1)

In [72]:
print(f"Number of columns after removing columns with missing values: {df_no_missing_cols.shape[1]}")

Number of columns after removing columns with missing values: 11

In [75]:
import pandas as pd

In [78]:
import numpy as np

In [79]:
data = { 'A': [1, 2, np.nan, 4],'B': [5, np.nan, np.nan, 8],'C': [9, 10, 11, np.nan]}

In [80]:
df = pd.DataFrame(data)

In [81]:
print("After using df.dropna():")

After using df.dropna():

In [83]:
df_dropped = df.dropna()

In [84]:
print("After using df.dropna():")

After using df.dropna():

In [85]:
print(df_dropped.to_string(index=False))

  A   B   C
1.0 5.0 9.0

In [86]:
df_dropped_column = df.drop(columns=['B'])

In [87]:
print("\nAfter using del df['B']:")

After using del df['B']:

In [88]:
print(df_dropped_column.to_string(index=False))

  A    C
1.0  9.0
2.0 10.0
NaN 11.0
4.0  NaN

In [89]:
df_removed_col = df.drop(columns=['B'])

In [90]:
df_final = df_removed_col.dropna()

In [91]:
print("\nAfter removing column 'B' and then using df.dropna():")

After removing column 'B' and then using df.dropna():

In [92]:
print(df_final.to_string(index=False))

  A    C
1.0  9.0
2.0 10.0

In [93]:
df_cleaned = df.drop(columns=['B'])

In [94]:
df_cleaned = df_cleaned.dropna()

In [95]:
print("\nBefore cleaning:")

Before cleaning:

In [96]:
print(df.to_string(index=False))

  A   B    C
1.0 5.0  9.0
2.0 NaN 10.0
NaN NaN 11.0
4.0 8.0  NaN

In [97]:
print("\nAfter cleaning:")

After cleaning:

In [98]:
print(df_cleaned.to_string(index=False))

  A    C
1.0  9.0
2.0 10.0

In [99]:
import pandas as pd

In [100]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"

In [101]:
titanic_df = pd.read_csv(url)

In [102]:
print(titanic_df.columns)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [103]:
grouped_description = titanic_df.groupby("class")["age"].describe()

In [104]:
print(grouped_description)

        count       mean        std   min   25%   50%   75%   max
class
First   186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
Second  173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
Third   355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

In [106]:
import pandas as pd

In [110]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"

In [111]:
titanic_df = pd.read_csv(url)

In [112]:
print(titanic_df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [113]:
grouped = titanic_df.groupby("class")["age"].describe()

In [114]:
print(grouped)

        count       mean        std   min   25%   50%   75%   max
class
First   186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
Second  173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
Third   355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

In [115]:
#yes

In [116]:
#link_for_chatgpt: https://chatgpt.com/c/66e38b4c-5574-800b-ba31-3c5f276558b9

In [117]:
#like_for_chatgpt: https://chatgpt.com/c/66e36cbd-4f38-800b-86cb-07149d2d53e7

In [ ]:
#Certainly! Hereâ€™s a summary of our interactions:

---

### Summary of Interactions

**1. Understanding Missing Data Handling in Pandas**

- **`df.dropna()` vs. `del df['col']`**:
  - **Use case for `df.dropna()`**: When you need to remove rows with any missing values to ensure complete records.
  - **Use case for `del df['col']`**: When a column has many missing values and removing it simplifies the dataset.
  - **Applying `del df['col']` before `df.dropna()`**: Helps avoid unnecessarily discarding rows with valuable data in other columns.
  - **Example of Removing Missing Data**: Demonstrated using both methods to clean the dataset and provided before-and-after results.

**2. Exploring `df.groupby("col1")["col2"].describe()`**

- **Function Explanation**: Groups data by `col1` and computes descriptive statistics for `col2` within each group.
- **Example Using Titanic Dataset**:
  - Loaded the Titanic dataset.
  - Demonstrated grouping by 'class' and describing 'age' to show how the method works.
- **Difference Between `df.describe()` and `df.groupby("col1")["col2"].describe()`**:
  - `df.describe()` provides overall statistics including count for all columns, accounting for missing values.
  - `df.groupby("col1")["col2"].describe()` computes statistics within each group, handling missing values within each group.

**3. Handling Errors and Troubleshooting**

- **Common Errors**:
  - **Forgot to import pandas**: Results in `NameError`. Fix by importing pandas as `pd`.
  - **Mistyped file name**: Leads to `FileNotFoundError`. Correct by using the accurate file name.
  - **Using DataFrame before assignment**: Causes `NameError`. Ensure variable names are correct.
  - **Missing parenthesis**: Results in `TypeError`. Add the missing parenthesis.
  - **Mistyped method names**: Leads to `AttributeError`. Use the correct method names.
  - **Column name errors**: Results in `KeyError` or `NameError`. Verify column names are correct and quoted properly.

- **ChatBot vs. Google Search**:
  - **ChatBot**: Provides interactive help and explanations but might need precise information for accurate responses.
  - **Google Search**: Offers quick solutions and a variety of sources but may require sifting through information.

---

Feel free to use or modify this summary as needed for your homework assignment!